aws_region = "us-east-1"

vpc_cidr = "10.20.0.0/16"

public_subnet_cidrs = [
  "10.20.0.0/24",
  "10.20.1.0/24",
]

private_app_subnet_cidrs = [
  "10.20.10.0/24",
  "10.20.11.0/24",
]

private_data_subnet_cidrs = [
  "10.20.20.0/24",
  "10.20.21.0/24",
]

allowed_ingress_cidrs = [
  "0.0.0.0/0",
]

# Populate this when HTTPS is available.
alb_certificate_arn = null

db_username              = "wex"
db_instance_class        = "db.t4g.small"
db_allocated_storage     = 50
db_max_allocated_storage = 200

redis_node_type          = "cache.t4g.small"
redis_num_cache_clusters = 2

# Use 0 for the first bootstrap apply before the application image exists in ECR.
ecs_desired_count = 0
ecs_task_cpu      = 1024
ecs_task_memory   = 2048

ecs_enable_autoscaling       = true
ecs_autoscaling_min_capacity = 0
ecs_autoscaling_max_capacity = 6

container_image_tag = "latest"

alarm_actions = []
